  table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
  }
  th {
    background-color: #F4E5CF;
    padding: 8px 12px 
 }
  th, td {
    border-top: 10px solid #ffffff;
    padding: 8px 12px 
  }
  tr:nth-child(odd) {
    /* border: 1px solid #ffffff; */
    background-color: #ce1a1a;
  }
  tr:nth-child(even) {
    /* border: 1px solid #ffffff; */
    background-color: #bd7b17;
  }
  tr:first-child td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  tr:last-child td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  input{
    margin-left: 15px ;
  }
