
  table{
    font-size: 0.9em;
    min-width: 400px;
    text-align: left;
    width: 100%;
  }
  th {
    background-color: #F4E5CF;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 12px 8px 12px;
 }
  th, td {
    padding: 8px 12px 8px 12px;
  }
  tr {
    border: 8px solid #ffffff;
   
  }
 
  tr:nth-child(odd) {
    background-color: #ce1a1a;
  }
  tr:nth-child(even) {
    background-color: #bd7b17;
  }
  input{
  margin-left: 15px ;
  }
  

  /*  */
  table {
    border-collapse: co;
    border-spacing: 0;
  }
  
  /* td {
    border: solid 1px #000;
    border-style: none solid solid none;
    padding: 10px;
  } */
  
   td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
 
